# Local gitconfig that I don't want to share
git/gitconfig.local.symlink

# ssh Stuff that I don't want to be public
ssh.symlink/
!ssh.symlink/config

# gpg Stuff that I don't want to be public
gnupg.symlink
# Allow gpg-agent.conf to be tracked even though gnupg.symlink is ignored
!gnupg.symlink/gpg-agent.conf

# Env variables that I don't want to share
zsh/env.zsh

# Ignore stupid .DS_Store
.DS_Store
